openapi: 3.2.0
info:
  title: AgencyZoom Configuration API
  version: 1.0.0
  description: REST API for managing insurance agency contacts, leads, customers, opportunities, policies, pipelines, and producer activity inside AgencyZoom. Derived from the OpenAPI specification published on the AgencyZoom application portal.
  contact:
    name: AgencyZoom
    url: https://agencyzoom.com
servers:
- url: https://api.agencyzoom.com
  description: Production
security:
- BearerAuth: []
tags:
- name: Configuration
paths:
  /v1/api/product-categories:
    get:
      tags:
      - Configuration
      summary: List policy categories
      responses:
        '200':
          description: Product categories
      operationId: getV1ApiProductCategories
      x-operation-id-source: derived
  /v1/api/product-lines:
    get:
      tags:
      - Configuration
      summary: List policy types
      responses:
        '200':
          description: Product lines
      operationId: getV1ApiProductLines
      x-operation-id-source: derived
  /v1/api/employees:
    get:
      tags:
      - Configuration
      summary: List employees
      responses:
        '200':
          description: Employee list
      operationId: getV1ApiEmployees
      x-operation-id-source: derived
  /v1/api/carriers:
    get:
      tags:
      - Configuration
      summary: List carriers
      responses:
        '200':
          description: Carrier list
      operationId: getV1ApiCarriers
      x-operation-id-source: derived
  /v1/api/custom-fields:
    get:
      tags:
      - Configuration
      summary: List custom field definitions
      responses:
        '200':
          description: Custom fields
      operationId: getV1ApiCustomFields
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Login via /v1/api/auth/login or /v1/api/auth/ssologin to obtain a JWT, then send as Authorization Bearer.
