openapi: 3.1.0
info:
  title: AgencyZoom API
  version: "1.0.0"
  description: >-
    REST API for managing insurance agency contacts, leads, customers,
    opportunities, policies, pipelines, and producer activity inside
    AgencyZoom. Derived from the OpenAPI specification published on the
    AgencyZoom application portal.
  contact:
    name: AgencyZoom
    url: https://agencyzoom.com
servers:
  - url: https://api.agencyzoom.com
    description: Production
tags:
  - name: Authentication
  - name: Leads
  - name: Customers
  - name: Policies
  - name: Opportunities
  - name: Configuration
  - name: Email
  - name: Pipelines
paths:
  /v1/api/auth/login:
    post:
      tags: [Authentication]
      summary: Standard login
      responses:
        "200":
          description: Authenticated, returns JWT
  /v1/api/auth/ssologin:
    post:
      tags: [Authentication]
      summary: SSO login
      responses:
        "200":
          description: Authenticated, returns JWT
  /v1/api/auth/logout:
    post:
      tags: [Authentication]
      summary: User logout
      responses:
        "204":
          description: Logged out
  /v1/api/leads/list:
    post:
      tags: [Leads]
      summary: Search leads
      responses:
        "200":
          description: Lead list
  /v1/api/leads/create:
    post:
      tags: [Leads]
      summary: Create personal lead
      responses:
        "201":
          description: Lead created
  /v1/api/leads/create-biz-lead:
    post:
      tags: [Leads]
      summary: Create commercial lead
      responses:
        "201":
          description: Commercial lead created
  /v1/api/leads/{leadId}:
    get:
      tags: [Leads]
      summary: Get lead details
      parameters:
        - $ref: '#/components/parameters/LeadId'
      responses:
        "200":
          description: Lead details
    put:
      tags: [Leads]
      summary: Update lead
      parameters:
        - $ref: '#/components/parameters/LeadId'
      responses:
        "200":
          description: Lead updated
  /v1/api/leads/{leadId}/sold:
    post:
      tags: [Leads]
      summary: Mark lead as sold
      parameters:
        - $ref: '#/components/parameters/LeadId'
      responses:
        "200":
          description: Lead marked as sold
  /v1/api/leads/{leadId}/opportunities:
    get:
      tags: [Leads]
      summary: Retrieve opportunities for a lead
      parameters:
        - $ref: '#/components/parameters/LeadId'
      responses:
        "200":
          description: Opportunities
  /v1/api/leads/{leadId}/quotes:
    get:
      tags: [Leads]
      summary: Retrieve quotes for a lead
      parameters:
        - $ref: '#/components/parameters/LeadId'
      responses:
        "200":
          description: Quotes
  /v1/api/leads/{leadId}/notes:
    get:
      tags: [Leads]
      summary: Retrieve notes for a lead
      parameters:
        - $ref: '#/components/parameters/LeadId'
      responses:
        "200":
          description: Notes
    post:
      tags: [Leads]
      summary: Add note to a lead
      parameters:
        - $ref: '#/components/parameters/LeadId'
      responses:
        "201":
          description: Note added
  /v1/api/customers:
    post:
      tags: [Customers]
      summary: Search customers
      responses:
        "200":
          description: Customer list
  /v1/api/customers/{customerId}:
    get:
      tags: [Customers]
      summary: Get customer details
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      responses:
        "200":
          description: Customer details
    put:
      tags: [Customers]
      summary: Update customer
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      responses:
        "200":
          description: Customer updated
    delete:
      tags: [Customers]
      summary: Delete customer
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      responses:
        "204":
          description: Customer deleted
  /v1/api/customers/{customerId}/policies:
    get:
      tags: [Customers]
      summary: Get customer policies
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      responses:
        "200":
          description: Customer policies
  /v1/api/customers/{customerId}/ams-policies:
    get:
      tags: [Customers]
      summary: Get AMS policies for customer
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      responses:
        "200":
          description: AMS policies
  /v1/api/policies/create:
    post:
      tags: [Policies]
      summary: Create policy
      responses:
        "201":
          description: Policy created
  /v1/api/policies/{policyId}:
    put:
      tags: [Policies]
      summary: Update policy
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Policy updated
  /v1/api/policies/update-tags:
    post:
      tags: [Policies]
      summary: Tag policies
      responses:
        "200":
          description: Tags updated
  /v1/api/opportunities:
    post:
      tags: [Opportunities]
      summary: Create opportunity
      responses:
        "201":
          description: Opportunity created
  /v1/api/opportunities/{opportunityId}:
    get:
      tags: [Opportunities]
      summary: Get opportunity details
      parameters:
        - $ref: '#/components/parameters/OpportunityId'
      responses:
        "200":
          description: Opportunity details
    put:
      tags: [Opportunities]
      summary: Update opportunity
      parameters:
        - $ref: '#/components/parameters/OpportunityId'
      responses:
        "200":
          description: Opportunity updated
  /v1/api/opportunities/{opportunityId}/driver:
    post:
      tags: [Opportunities]
      summary: Add driver to opportunity
      parameters:
        - $ref: '#/components/parameters/OpportunityId'
      responses:
        "201":
          description: Driver added
  /v1/api/opportunities/{opportunityId}/vehicle:
    post:
      tags: [Opportunities]
      summary: Add vehicle to opportunity
      parameters:
        - $ref: '#/components/parameters/OpportunityId'
      responses:
        "201":
          description: Vehicle added
  /v1/api/product-categories:
    get:
      tags: [Configuration]
      summary: List policy categories
      responses:
        "200":
          description: Product categories
  /v1/api/product-lines:
    get:
      tags: [Configuration]
      summary: List policy types
      responses:
        "200":
          description: Product lines
  /v1/api/employees:
    get:
      tags: [Configuration]
      summary: List employees
      responses:
        "200":
          description: Employee list
  /v1/api/carriers:
    get:
      tags: [Configuration]
      summary: List carriers
      responses:
        "200":
          description: Carrier list
  /v1/api/custom-fields:
    get:
      tags: [Configuration]
      summary: List custom field definitions
      responses:
        "200":
          description: Custom fields
  /v1/api/email-thread/list:
    post:
      tags: [Email]
      summary: Search email threads
      responses:
        "200":
          description: Email threads
  /v1/api/email-thread/email-thread-detail:
    post:
      tags: [Email]
      summary: Get email thread details
      responses:
        "200":
          description: Email thread details
  /v1/api/pipelines:
    get:
      tags: [Pipelines]
      summary: Get pipelines by type
      responses:
        "200":
          description: Pipelines
  /v1/api/pipelines-and-stages:
    get:
      tags: [Pipelines]
      summary: Get pipelines with stages
      responses:
        "200":
          description: Pipelines and stages
components:
  parameters:
    LeadId:
      name: leadId
      in: path
      required: true
      schema:
        type: string
    CustomerId:
      name: customerId
      in: path
      required: true
      schema:
        type: string
    OpportunityId:
      name: opportunityId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Login via /v1/api/auth/login or /v1/api/auth/ssologin to obtain a JWT, then send as Authorization Bearer.
security:
  - BearerAuth: []
